
@{
    ViewData["Title"] = "Preferences";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AspNetUsers

<div class="text-center col-10" style="padding-bottom: 50px">
    <h1>Welcome to GamerMatch!</h1>

    @if (ViewData["Error"] != null)
    {
        <p><i>@ViewData["Error"]</i></p>
    }

    <p style="font-family: Impact; font-size: 28px">Please confirm your information:</p>
    <form id="Preferences" asp-controller="Home" asp-action="UserPerf" onsubmit="return ValidationEvent()">
        <fieldset>
            <div class="form-group">
                <label for="steam" style="font-family: Impact; font-size: 28px">Have a Steam ID? Enter It Here:</label><br />
                @if (Model.SteamInfo is null)
                {
                    <input type="text" name="steam" />
                }
                else
                {
                    <input type="text" placeholder="@Model.SteamInfo" name="steam" pattern="(^[0-9]{17}$)" /><br />
                }
                <br />
                <p>
                    Put in the 17-digit Steam ID for your account. <br />
                    <i>For test purposes, you may use the following ID: 76561197960434622</i>
                </p>
                <p>PRO-TIP: Make your Steam profile public to take advantage of this application!</p>
            </div>
            <p>---------------------------------------------------------</p>
            <div class="form-group">
                <label for="difficulty" style="font-family: Impact; font-size: 28px">Select Difficulty:</label><br />
                <select name="difficulty">
                    <option value="@Model.UserPref">Current Difficulty is: @Model.UserPref</option>
                    <option value="casual">Casual</option>
                    <option value="competitive">Competitive</option>
                    <option value="win">Play to Win</option>
                </select>
            </div><br />
            <p>If you are a new gamer, select Casual.<br />If you like to play a fair amount of games, select Competitive.<br />If you play a lot of games, select Play to Win</p><br />
            <p>---------------------------------------------------------</p>
            <div class="form-group">
                <label for="boardgames" style="font-family: Impact; font-size: 28px">Select Your Favorite Board/Card Games:</label><br />
                @foreach (var item in ViewData["Games"] as List<BoardGames>)
                {
                    @if (Model.BoardGamePref != null && Model.BoardGamePref.Contains(@item.Title))
                    {
                        <div>
                            <input type="checkbox" value="@item.Title" name="boardgames" checked="checked" /><label for="@item.Title">@item.Title </label>
                        </div>
                    }
                    else
                    {
                        <div>
                            <input type="checkbox" value="@item.Title" name="boardgames" /><label for="@item.Title">@item.Title </label>
                        </div>
                    }
                }
            </div>
            <input type="submit" />
        </fieldset>
    </form>

</div>
