@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Result>
@{
    List<string> matches = new List<string>();
    GamerMatchContext db = new GamerMatchContext();
    List<MatchTable> matchTableList = db.MatchTable.ToList<MatchTable>();
    string title = null;
}

<h1>Results for</h1>
<h2 style="padding-bottom: 25px;">
    @foreach (var search in ViewData["Search"] as List<string>)
    {
        if (search != null && search != "null")
        {
            @search
            title = search;
        }
    }
</h2>
<body style="padding-bottom: 60px;">
    @{ if (Model != null)
        {
            <table>
                @for (int i = 0; i < Model.Count; i++)
                {
                    var rating = Model[i].user.PlayerRating / Model[i].user.RatingCount;
                    <tr>
                        <td>
                            <h4>Username: @Model[i].user.UserName</h4>
                            <h4>Preferred Play Style: @Model[i].user.UserPref</h4>
                            <h4>Match Rating: @Model[i].rating</h4>

                            @if (Model[i].user.PlayerRating == null)
                            {
                                <h4>
                                    User Rating: No Rating!
                                </h4>
                            }
                            else
                            {

                                <h4>
                                    User Rating: @string.Format("{0:N2}", rating)
                                </h4>
                            }

                            <button type="button" class="badge-success rounded" value="Accept Match" onclick="location.href='@Url.Action("MatchUsers", "Match", new { matchUser = Model[i].user.UserName })'">Match</button>
                            <button type="button" class="badge-danger rounded" value="Deny Match" onclick="location.href='@Url.Action("DenyMatch", "Match", new { user = Model[i].user.UserName, title = title})'">Dismiss</button>
                            <br /><br />
                        </td>
                    </tr>
                    
                }
            </table>
        }
        else
        {
            <h4>@ViewData["No"]</h4>
        }
    }
</body>